<!DOCTYPE html>
%html
  %head
    %title= @title
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "layouts/application.css.scss"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "viewport",:content => "initial-scale=1.0", 'user-scalable' => "no"}
    = yield :head
    = yield :scripts
  %body
    = yield
